<rdf:RDF
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:dct="http://purl.org/dc/terms/"> 
  <rdf:Description rdf:about="http://purl.org/emergel/modules#">
    <dct:issued>DATE_ISSUED</dct:issued>
  </rdf:Description>
</rdf:RDF>